@model SistemaCE.Models.Estudiante

@{
    ViewData["Title"] = "Crear Estudiante";
}
<link rel="stylesheet" href="~/css/create_globla.css" />

<div class="page-container">

    <div class="card-form">

        <div class="title">Crear Estudiante</div>
        <div class="subtitle">Registra un nuevo administrativo en el sistema</div>

        <form asp-action="Create">

             <!-- ERRORES -->
        <div asp-validation-summary="All" class="text-red-500 text-sm"></div>

        <!-- PERSONA -->
        <div>
            <label asp-for="IdEstudiante" class="block font-medium">Estudiante</label>
            <select asp-for="IdEstudiante"
                    asp-items="ViewBag.IdEstudiante"
                    class="w-full border px-3 py-2 rounded">
            </select>
        </div>

        <!-- GRUPO -->
        <div>
            <label asp-for="IdGrupo" class="block font-medium">Grupo</label>
            <select asp-for="IdGrupo"
                    asp-items="ViewBag.IdGrupo"
                    class="w-full border px-3 py-2 rounded">
            </select>
        </div>

        <!-- FECHA -->
        <div>
            <label asp-for="FechaIngreso">Fecha Ingreso</label>
            <input asp-for="FechaIngreso" type="date"
                   class="w-full border px-3 py-2 rounded" />
            <span asp-validation-for="FechaIngreso" class="text-red-500 text-sm"></span>
        </div>

        <div>
            <label asp-for="Estatus">Estatus</label>
            <select asp-for="Estatus"
                    asp-items="ViewBag.Estatus"
                    class="w-full border px-3 py-2 rounded">
            </select>
            <span asp-validation-for="Estatus" class="text-red-500 text-sm"></span>
        </div>

        <!-- BOTONES -->
        <div class="flex justify-between">
            <a asp-action="Index" class="text-gray-600">← Volver</a>
            <button type="submit"
                    class="bg-blue-600 text-white px-4 py-2 rounded">
                Guardar
            </button>
        </div>

        </form>

        <a asp-action="Index" class="back-link">← Volver al listado</a>

    </div>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
