@model SistemaCE.Models.Grupo

@{
    ViewData["Title"] = "Crear Grupo";
}
<link rel="stylesheet" href="~/css/create_globla.css" />

<div class="page-container">

    <div class="card-form">

        <div class="title">Crear Grupo</div>
        <div class="subtitle">Registra un nuevo administrativo en el sistema</div>

        <form asp-action="Create">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdCarrera" class="control-label">Carrera</label>
                <select asp-for="IdCarrera" class="form-control" asp-items="ViewBag.IdCarrera"></select>
            </div>
            <div class="form-group">
                <label asp-for="Turno" class="control-label">Turno</label>
                <input asp-for="Turno" class="form-control" />
                <span asp-validation-for="Turno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdGrupoBase" class="control-label">Grupo</label>
                <select asp-for="IdGrupoBase" class="form-control" asp-items="ViewBag.IdGrupoBase"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdPeriodo" class="control-label">Periodo</label>
                <select asp-for="IdPeriodo" class="form-control" asp-items="ViewBag.IdPeriodo"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>

        </form>

        <a asp-action="Index" class="back-link">← Volver al listado</a>

    </div>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}